* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.page-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 245, 245);
}

.content-containter {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #e2e8f0;
}

.sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: rgb(25, 146, 212);
  display: flex;
  flex-direction: column;
  color: white;
}

.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(197, 197, 197);
  z-index: 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
  
.header-item, .content-containter-item {
  border: 1px solid rgb(214, 214, 214);
}
  
.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  font-size: 20px;
  margin-left: 30px;
  gap: 10px;
  font-weight: bold;
}

.sidebar-end {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  font-size: 20px;
  margin-left: 30px;
  gap: 10px;
  font-weight: bold;
}

.sidebar-item {
  display: flex;
  gap: 1rem;
}

.logo {
  flex-grow: 1;
  font-size: 26px;
  margin-left: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.content-containter {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
}

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 95%;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.project {
  background-color: white;
}

.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

.announcements-block {
  margin-top: 10px;
  margin-bottom: 20px;
  flex: 1;
  background-color: white;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.trending-block {
  margin-top: 10px;
  flex: 1;
  background-color: white;
}


